.main {
  &-container {
    background-color: rgb(168, 153, 153);
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  &-action-btn {
    width: 100%;
  }
}
