.card {
  background-color: rgb(238, 210, 210);
  height: 15rem;
  width: 13rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button {
  padding: 10px 15px;

  background-color: rgb(136, 105, 50);
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: orange;
  }
  &:active {
    color: orangered;
  }
}

.favorite-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: rgb(85, 80, 80);
  &--active {
    color: rgb(190, 74, 74);
    cursor: pointer;
  }
}
